{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>The Cafe | Gallery</title>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/style.css' %}">
</head>

<body class="bg-dark-cafe text-white">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-navbar">
  <div class="container">
    <a class="navbar-brand fw-bold text-warning" href="/">FoodOrder.</a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="nav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item"><a class="nav-link text-light" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="/about/">About</a></li>
        <li class="nav-item"><a class="nav-link text-light" href="/menu/">Menu</a></li>
        <li class="nav-item">
          <a class="nav-link text-warning fw-semibold active" href="/gallery/">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- GALLERY -->
<section class="gallery-section container">
  <div class="text-center mb-5">
    <h2 class="text-warning fw-bold">Gallery</h2>
    <p class="gallery-subtitle">
      Berbagai macam makanan populer
    </p>
  </div>

  <div class="row g-4 justify-content-center">

    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="gallery-card">
        <img src="{% static 'bootstrap/img/galeri1.webp' %}" class="gallery-img">
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="gallery-card">
        <img src="{% static 'bootstrap/img/galeri2.jpg' %}" class="gallery-img">
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="gallery-card">
        <img src="{% static 'bootstrap/img/galeri3.jpg' %}" class="gallery-img">
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="gallery-card">
        <img src="{% static 'bootstrap/img/galeri4.avif' %}" class="gallery-img">
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="gallery-card">
        <img src="{% static 'bootstrap/img/galeri5.webp' %}" class="gallery-img">
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="gallery-card">
        <img src="{% static 'bootstrap/img/galeri6.jpg' %}" class="gallery-img">
      </div>
    </div>

  </div>
</section>


<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
